p, h4 {
    margin-block: 10px;
}
.table-title, h4 {
    font-weight: 600;
    font-size: 1.1em;
    margin-top: 25px;
}
table, th, td {
    padding: 4px;
    font-size: .9em;
    border-collapse: collapse;
    border: 1px solid #004225;
}
th {
    font-weight: 600;
    vertical-align: middle;
}
